<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.sourceforge.phpdt.launching.LaunchConfigurationTypePHPApplication">
<stringAttribute key="net.sourceforge.phpeclipse.launching.FILE_NAME" value="index.php"/>
<stringAttribute key="net.sourceforge.phpeclipse.launching.INTERPRETER_ARGUMENTS" value=""/>
<booleanAttribute key="net.sourceforge.phpeclipse.launching.OPEN_DBGSESSION_IN_BROWSER" value="true"/>
<booleanAttribute key="net.sourceforge.phpeclipse.launching.OPEN_DBGSESSION_IN_EXTERNAL_BROWSER" value="false"/>
<stringAttribute key="net.sourceforge.phpeclipse.launching.PROGRAM_ARGUMENTS" value=""/>
<stringAttribute key="net.sourceforge.phpeclipse.launching.PROJECT_NAME" value="smarty01"/>
<booleanAttribute key="net.sourceforge.phpeclipse.launching.REMOTE_DEBUG" value="false"/>
<booleanAttribute key="net.sourceforge.phpeclipse.launching.REMOTE_DEBUG_TRANSLATE" value="false"/>
<stringAttribute key="net.sourceforge.phpeclipse.launching.REMOTE_PATH" value="\smarty01"/>
<stringAttribute key="net.sourceforge.phpeclipse.launching.SELECTED_INTERPRETER" value=""/>
<booleanAttribute key="net.sourceforge.phpeclipse.launching.USE_DEFAULT_WORKING_DIRECTORY" value="true"/>
<stringAttribute key="net.sourceforge.phpeclipse.launching.WORKING_DIRECTORY" value="D:/studymyself/php"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="net.sourceforge.phpdt.debug.ui.PHPSourceLocator"/>
</launchConfiguration>
